# Data Science Tools and Ecosystem

#####  Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

##### Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:

In [36]:
List=["R","SQL","JAVA","Julia","Scala"]
Ordered_List="\n".join([f"{index + 1}. {item}" for index, item in enumerate(List)])

# Display the ordered list
print(Ordered_List)

1. R
2. SQL
3. JAVA
4. Julia
5. Scala

###### Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:

In [46]:
List1=["Numpy","Seaborn","Pandas","SciPy","Matplotlib"]
Ordered_List="\n".join([f"{index + 1}. {item}" for index, item in enumerate(List1)])

# Display the ordered list
print(Ordered_List)

1. Numpy
2. Seaborn
3. Pandas
4. SciPy
5. Matplotlib

##### Create a markdown cell with a table of Data Science tools

###### :---:=Center

|Data Science Tools|
|:---:|:---:|:---:|
|Jupyter Notebooks|Zeppelin Notebooks|R Studio|

||Data Science Tools||
|:---:|:---:|:---:|
|Jupyter Notebooks|Zeppelin Notebooks|R Studio|

##### Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python:

In [10]:
4-2

2

In [13]:
101+268

369

In [14]:
777-298

479

In [15]:
645*647

417315

In [16]:
37771/5

7554.2

##### Create a code cell to multiply and add numbers

In [12]:
(5+6)*7

77

#####  Create a code cell to convert Minutes to Hours

In [31]:
#Given Minutes
Minutes=200

#Given Hours
Hours = minutes/60

# Display the result
print(f"{Minutes} Minutes is equal to {Hours} Hours")

200 Minutes is equal to 3.3333333333333335 Hours

##### This will convert 200 minutes to hours by diving by 60

##### Insert a markdown cell to list Objectives

## Objectives:

In [45]:
List=["Learned differnt Languages such as SQL and Python ","Knowledge of different libraries","Worked with different kernels and the basic Jupyter architecture","Learned about the different R visualization packages and how to create visual charts using the plot function","Learned about and working with data science tools from IBM such as  Watson Studio."]
Unordered_list = "\n".join([f"-{item}" for item in List])
# Display the Unordered list
print(Unordered_list)

-Learned differnt Languages such as SQL and Python
-Knowledge of different libraries
-Worked with different kernels and the basic Jupyter architecture
-Learned about the different R visualization packages and how to create visual charts using the plot function
-Learned about and working with data science tools from IBM such as  Watson Studio.

##### Create a markdown cell to indicate the Author's name

## Author
Tannu Singh